* {
    margin: 0;
    padding: 0;

}
body {
    /* position: relative; */
    perspective: 500px;

}
.main{
    position: relative;
    width: 200px;
    height: 200px;
    left: 50%;
    top: 200px;
    /* margin: 15% 50%; */
    /* margin: 200 auto; */
    border: 1px solid #ccc;
    /* perspective: 500px; */
    /* transform-style: preserve-3d; */
    transform-style: preserve-3d;
    transition: all 1s linear;
}
.box1 {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: pink;
    /* transform: rotateY(60deg); */
}
.box2 {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: purple;
    transform: rotateX(80deg);
}
.main:hover {
    /* transform: rotateY(60deg); */
    transform: rotateY(45deg);
}
