/*清除元素默认的内外边距  */
* {
    margin: 0;
    padding: 0
}
/*让所有斜体 不倾斜*/
em,
i {
    font-style: normal;
}
/*去掉列表前面的小点*/
li {
    list-style: none;
}
/*图片没有边框   去掉图片底侧的空白缝隙*/
img {
    border: 0;  /*ie6*/
    vertical-align: middle;
}
/*让button 按钮 变成小手*/
button {
    cursor: pointer;
}
/*取消链接的下划线*/
a {
    color: #666;
    text-decoration: none;
}

a:hover {
    color: #e33333;
}

button,
input {
    font-family: 'Microsoft YaHei', 'Heiti SC', tahoma, arial, 'Hiragino Sans GB', \\5B8B\4F53, sans-serif;
    outline: none;
}

body {
    background-color: #fff;
    font: 12px/1.5 'Microsoft YaHei', 'Heiti SC', tahoma, arial, 'Hiragino Sans GB', \\5B8B\4F53, sans-serif;
    color: #666
}

.hide,
.none {
    display: none;
}
/*清除浮动*/
.clearfix:after {
    visibility: hidden;
    clear: both;
    display: block;
    content: ".";
    height: 0
}

.clearfix {
    *zoom: 1
}


/*公共样式*/
.fl {
	float: left;
}
.fr {
	float: right;
}
/*版心*/
.w {
	width: 1200px;
	margin: 0 auto;
}
.style-red {
	color: #e33333;
}
/* shortcut start */
.shortcut {
	height: 31px;
	line-height: 31px;
	background-color: #f1f1f1;
}
.shortcut li {
	float: left;
}

.shortcut .spacer {
	width: 1px;
	height: 12px;
	margin: 9px 12px 0;
	background-color: #666;
}

@font-face {
	font-family: 'iconfont';
	src: url('../fonts/iconfont.eot');
	src: url('../fonts/iconfont.eot?#iefix') format('embedded-opentype'),
		url('../fonts/iconfont.woff2') format('woff2'),
		url('../fonts/iconfont.woff') format('woff'),
		url('../fonts/iconfont.ttf') format('truetype'),
		url('../fonts/iconfont.svg#iconfont') format('svg');
  }
  .iconfont {
	font-family: "iconfont" !important;
	/* font-size: 16px; */
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
  }
  .shortcut .iconfont {
	  font-size: 12px;
  }
/* shortcut end */
/* header start */
.header {
	position: relative;
	height: 106px;
	/* background-color: pink; */
}
.header .logo a {
	display: block;
	position: absolute;
	top: 50%;
	left: 0;
	width: 172px;
	height: 55px;
	margin-top: -27px;
	background: url(../img/logo_03.png);
	/* logo h1标签中的a标签中需要写重要信息 但是让其不显示 下面两种方式 */
	/* font-size: 0; */
	text-indent: -999px;
	overflow: hidden;
}
.serach {
	position: absolute;
	top: 26px;
	left: 348px;
}
.serach .input {
	width: 442px;
	height: 32px;
	padding-left: 10px;
	border: 2px solid #b1191a;
	font-size: 14px;
	color: #666666;
}
.serach button {
	width: 82px;
	height: 36px;
	border: 0;
	background-color: #b1191a;
	font-size: 16px;
	color: #ffffff;
}
.hotwords {
	position: absolute;
	top: 68px;
	left: 348px;
}
.hotwords a {
	margin: 0 10px;
}
.my-car {
	position: absolute;
	top: 26px;
	right: 64px;
	width: 138px;
	height: 34px;
	line-height: 34px;
	text-align: center;
	border: 2px solid #dfdfdf;
	background-color: #f7f7f7;
}
.my-car .shop-car {
	font-size: 18px;
	color: #d94f4f
}
.my-car a {
	font-size: 12px;
	color: #000;
}
.my-car .arrow {
	font-size: 12px;
	color: #cbcbcb;
}
.my-car .count {
	position: absolute;
	top: -8px;
	left: 100px;
	height: 14px;
	line-height: 14px;
	background-color: #e60012;
	font-size: 12px;
	color: #fefefe;
	border-radius: 7px 7px 7px 0;
}
/* header end */
/* nav  start */
.nav {
	height: 45px;
	border-bottom: 2px solid #b1191a;
}
.nav .dropdown {
	position: relative;
	width: 209px;
	height: 45px;
	background-color: #b1191a;
}
.dropdown .dt {
	width: 100%;
	height: 100%;
	line-height: 45px;
	text-align: center;
	font-size: 16px;
	color: #fff;
}
.dropdown .dd {
	position: absolute;
	top: 47px;;
	width: 100%;
	background-color: #c81623;
	color: #fff;
	
}
.menu_item {
	padding: 0 10px;;
	height: 31px;
	line-height: 31px;
}
.menu_item a {
	font-size: 14px;
	color: #fff;
}
.menu_item i {
	float: right;
	color: #fff;
}
.menu_item:hover {
	border-left: 1px solid #c81623;
	background-color: #f7f7f7;
	color: #c81623;
}
.menu_item:hover a {
	font-size: 14px;
	color: #c81623;
}
.nav-items {
	height: 45px;
	padding-left: 10px;
	line-height: 45px;
}
.nav-items li {
	float: left;
}
.nav-items a {
	display: block;
	height: 100%;
	margin: 0 30px;
	font-size: 16px;
	color: #333333;
}
/* nav end */
/* footer start */
.footer {
	height: 388px;
	margin-top: 300px;
	padding-top: 30px;
	background-color: #f5f5f5;
}
.mod_server {
	height: 110px;
	border-bottom: 1px solid #ededed;
}
.mod_server li {
	float: left;
	width: 240px;
	height: 79px;
}
.mod_server_item {
	float: left;
	width: 50px;
	height: 50px;
	margin: 0 5px 0 35px;
	background: url(../img/icons.png) no-repeat -253px -3px;
}
.mod_server_title {
	float: left;
	margin: 5px 0;
}
.mod_server_title h5 {
	font-size: 14px;
	color: #333;
 }
 .mod_server_title p {
	 line-height: 20px;
	 font-size: 12px;
	 color: #666;
 }
.mod_help {
	height: 188px;
	border-bottom: 1px solid #ededed;
}
.mod_help dl {
	 float: left;
	 width: 170px;
	 /* height: 168px; */
	 margin: 20px 0 0 30px;
	 
 }
 .mod_help dl dt {
	 height: 30px;
	 font-size: 16px;
	 color: #333;
 }
 .mod_help dl dd {
	 height: 20px;
	 font-size: 12px;
	 color: #666;
 }
 .mod_help_info dt{
	 margin: 0 0 10px 10px;
 }
.mod_help_info p {
	line-height: 22px;
	padding: 0 20px;
}
.mod_copyright {
	text-align: center;
}
.mod_copyright_link {
	margin: 20px 0 15px 0;
}

.main {
    width: 980px;
    height: 455px;
    margin: 10px 0 0 219px;
}

.focus {
    position: relative;
    float: left;
    width: 721px;
    height: 100%;
    /* overflow: hidden; */
    /* background-color: purple; */
}

.focus-list {
    /* 为了动画效果 添加绝对定位 */
    position: absolute;
    width: 600%;
    height: 100%;
}

.focus-list li {
    float: left;
    width: 721px;
    height: 100%;
}

.focus-list li img {
    width: 100%;
    height: 100%;
}

.main_news {
    float: right;
    width: 250px;
    height: 100%;
    /* background-color: skyblue; */
    /* border: 1px solid #e4e4e4; */
}

.arrow {
    position: absolute;
    width: 25px;
    height: 35px;
    top: 50%;
    margin-top: -18px;
    text-align: center;
    line-height: 35px;
    background: rgba(0, 0, 0, .2);
    font-weight: 700;
    color: #fff;
}

.arrow:hover {
    background: rgba(0, 0, 0, .5);
    color: #fff;
}

.arrow_left {
    display: none;
    left: 0;
    border-radius: 0 17px 17px 0;
    z-index: 2;
    /* border-top-right-radius: 17px;
    border-bottom-right-radius: 17px; */
}

.arrow_right {
    display: none;
    right: 0;
    border-radius: 17px 0 0 17px;
    z-index: 2;
}

.circle {
    height: 10px;
}

.circle {
    position: absolute;
    left: 30px;
    bottom: 20px;
}

.circle li {
    float: left;
    width: 8px;
    height: 8px;
    margin-left: 5px;
    border-radius: 50%;
    /* border: 2px solid rgba(255, 255, 255, .2); */
    border: 2px solid transparent;
    background: rgba(255, 255, 255, .2);
    cursor: pointer;
}

.circle .current_circle {
    background-color: #fff;
}

.news {
    height: 163px;
    border: 1px solid #e4e4e4;
    /* border-bottom: 1px solid #e4e4e4; */
}

.new_header {
    height: 32px;
    line-height: 32px;
    border-bottom: 1px dotted #ccc;
    font-size: 14px;
    color: #333;
    padding: 0 15px 0 15px;
}

.new_header h5 {
    float: left;
}

.new_header span {
    float: right;
}

.new_header .iconfont {
    margin-left: 10px;
    font-size: 12px;
}

.new_body ul {
    margin: 12px 0 0 12px;
}

.new_body li {
    height: 24px;
}

.life_servise {
    height: 208px;
    text-align: center;
    /* background-color: skyblue; */
    /* 超过盒子的内容隐藏 */
    overflow: hidden;
    border-right: 1px solid #e4e4e4;
    border-left: 1px solid #e4e4e4;
}

.bargain {
    height: 75px;
    margin-top: 7px;
    /* background-color: black; */
}

.life_servise ul {
    width: 252px;
}

.life_servise li {
    float: left;
    width: 62px;
    height: 68px;
    border-right: 1px solid #e4e4e4;
    border-bottom: 1px solid #e4e4e4;
}

.life_servise a {
    display: block;
    /* 解决外边距合并 a标签掉下来的问题 */
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.life_servise i {
    display: block;
    height: 24px;
    width: 24px;
    margin: 12px auto;
    background: url(../img/icons.png) no-repeat;
}

.life_servise .life_servise_huafei {
    background-position: -18px -16px;
}

.life_servise .life_servise_jipiao {
    background-position: -79px -16px;
}

.recommond {
    height: 163px;
    margin-top: 10px;
    /* background-color: pink; */
}

.common_hd {
    float: left;
    width: 200px;
    height: 100%;
    text-align: center;
    font-size: 18px;
    background-color: #5c5251;
}

.common_hd img {
    margin-top: 20px;
}

.common_hd h3 {
    margin-top: 5px;
    font-weight: 400;
    color: #ffffff;
}

.common_bd {
    float: right;
    width: 1000px;
    height: 100%;
    background-color: #ebebeb;
}

.common_bd li {
    float: left;
    margin-top: 10px;
    width: 249px;
    height: 144px;
    border-right: 1px solid #dddddd;
}

.common_bd .left {
    border-right: 0;
}


/* 楼层区 start */

.box-hd {
    height: 30px;
    margin-top: 20px;
    line-height: 30px;
    background-color: pink;
    border-bottom: 2px solid #c81623;
}

.box-hd h3 {
    font-size: 18px;
    font-weight: 400;
    color: #c81623;
}

.tab-list li {
    float: left;
    margin: 0 10px;
    /* line-height: 30px; */
}

.box-bd {
    height: 360px;
    background-color: purple;
}

.tab-con li {
    float: left;
    height: 360px;
}

.w209 {
    width: 209px;
}

.w329 {
    width: 329px;
}

.w219 {
    width: 219px;
    border-right: 1px solid #ededed;
}

.w220 {
    width: 220px;
    border-right: 1px solid #ededed;
}


/* 楼层区 end */
/*清除元素默认的内外边距  */
* {
    margin: 0;
    padding: 0
}
/*让所有斜体 不倾斜*/
em,
i {
    font-style: normal;
}
/*去掉列表前面的小点*/
li {
    list-style: none;
}
/*图片没有边框   去掉图片底侧的空白缝隙*/
img {
    border: 0;  /*ie6*/
    vertical-align: middle;
}
/*让button 按钮 变成小手*/
button {
    cursor: pointer;
}
/*取消链接的下划线*/
a {
    color: #666;
    text-decoration: none;
}

a:hover {
    color: #e33333;
}

button,
input {
    font-family: 'Microsoft YaHei', 'Heiti SC', tahoma, arial, 'Hiragino Sans GB', \\5B8B\4F53, sans-serif;
    outline: none;
}

body {
    background-color: #fff;
    font: 12px/1.5 'Microsoft YaHei', 'Heiti SC', tahoma, arial, 'Hiragino Sans GB', \\5B8B\4F53, sans-serif;
    color: #666
}

.hide,
.none {
    display: none;
}
/*清除浮动*/
.clearfix:after {
    visibility: hidden;
    clear: both;
    display: block;
    content: ".";
    height: 0
}

.clearfix {
    *zoom: 1
}


/*公共样式*/
.fl {
	float: left;
}
.fr {
	float: right;
}
/*版心*/
.w {
	width: 1200px;
	margin: 0 auto;
}
.style-red {
	color: #e33333;
}
/* shortcut start */
.shortcut {
	height: 31px;
	line-height: 31px;
	background-color: #f1f1f1;
}
.shortcut li {
	float: left;
}

.shortcut .spacer {
	width: 1px;
	height: 12px;
	margin: 9px 12px 0;
	background-color: #666;
}

@font-face {
	font-family: 'iconfont';
	src: url('../fonts/iconfont.eot');
	src: url('../fonts/iconfont.eot?#iefix') format('embedded-opentype'),
		url('../fonts/iconfont.woff2') format('woff2'),
		url('../fonts/iconfont.woff') format('woff'),
		url('../fonts/iconfont.ttf') format('truetype'),
		url('../fonts/iconfont.svg#iconfont') format('svg');
  }
  .iconfont {
	font-family: "iconfont" !important;
	/* font-size: 16px; */
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
  }
  .shortcut .iconfont {
	  font-size: 12px;
  }
/* shortcut end */
/* header start */
.header {
	position: relative;
	height: 106px;
	/* background-color: pink; */
}
.header .logo a {
	display: block;
	position: absolute;
	top: 50%;
	left: 0;
	width: 172px;
	height: 55px;
	margin-top: -27px;
	background: url(../img/logo_03.png);
	/* logo h1标签中的a标签中需要写重要信息 但是让其不显示 下面两种方式 */
	/* font-size: 0; */
	text-indent: -999px;
	overflow: hidden;
}
.serach {
	position: absolute;
	top: 26px;
	left: 348px;
}
.serach .input {
	width: 442px;
	height: 32px;
	padding-left: 10px;
	border: 2px solid #b1191a;
	font-size: 14px;
	color: #666666;
}
.serach button {
	width: 82px;
	height: 36px;
	border: 0;
	background-color: #b1191a;
	font-size: 16px;
	color: #ffffff;
}
.hotwords {
	position: absolute;
	top: 68px;
	left: 348px;
}
.hotwords a {
	margin: 0 10px;
}
.my-car {
	position: absolute;
	top: 26px;
	right: 64px;
	width: 138px;
	height: 34px;
	line-height: 34px;
	text-align: center;
	border: 2px solid #dfdfdf;
	background-color: #f7f7f7;
}
.my-car .shop-car {
	font-size: 18px;
	color: #d94f4f
}
.my-car a {
	font-size: 12px;
	color: #000;
}
.my-car .arrow {
	font-size: 12px;
	color: #cbcbcb;
}
.my-car .count {
	position: absolute;
	top: -8px;
	left: 100px;
	height: 14px;
	line-height: 14px;
	background-color: #e60012;
	font-size: 12px;
	color: #fefefe;
	border-radius: 7px 7px 7px 0;
}
/* header end */
/* nav  start */
.nav {
	height: 45px;
	border-bottom: 2px solid #b1191a;
}
.nav .dropdown {
	position: relative;
	width: 209px;
	height: 45px;
	background-color: #b1191a;
}
.dropdown .dt {
	width: 100%;
	height: 100%;
	line-height: 45px;
	text-align: center;
	font-size: 16px;
	color: #fff;
}
.dropdown .dd {
	position: absolute;
	top: 47px;;
	width: 100%;
	background-color: #c81623;
	color: #fff;
	
}
.menu_item {
	padding: 0 10px;;
	height: 31px;
	line-height: 31px;
}
.menu_item a {
	font-size: 14px;
	color: #fff;
}
.menu_item i {
	float: right;
	color: #fff;
}
.menu_item:hover {
	border-left: 1px solid #c81623;
	background-color: #f7f7f7;
	color: #c81623;
}
.menu_item:hover a {
	font-size: 14px;
	color: #c81623;
}
.nav-items {
	height: 45px;
	padding-left: 10px;
	line-height: 45px;
}
.nav-items li {
	float: left;
}
.nav-items a {
	display: block;
	height: 100%;
	margin: 0 30px;
	font-size: 16px;
	color: #333333;
}
/* nav end */
/* footer start */
.footer {
	height: 388px;
	margin-top: 300px;
	padding-top: 30px;
	background-color: #f5f5f5;
}
.mod_server {
	height: 110px;
	border-bottom: 1px solid #ededed;
}
.mod_server li {
	float: left;
	width: 240px;
	height: 79px;
}
.mod_server_item {
	float: left;
	width: 50px;
	height: 50px;
	margin: 0 5px 0 35px;
	background: url(../img/icons.png) no-repeat -253px -3px;
}
.mod_server_title {
	float: left;
	margin: 5px 0;
}
.mod_server_title h5 {
	font-size: 14px;
	color: #333;
 }
 .mod_server_title p {
	 line-height: 20px;
	 font-size: 12px;
	 color: #666;
 }
.mod_help {
	height: 188px;
	border-bottom: 1px solid #ededed;
}
.mod_help dl {
	 float: left;
	 width: 170px;
	 /* height: 168px; */
	 margin: 20px 0 0 30px;
	 
 }
 .mod_help dl dt {
	 height: 30px;
	 font-size: 16px;
	 color: #333;
 }
 .mod_help dl dd {
	 height: 20px;
	 font-size: 12px;
	 color: #666;
 }
 .mod_help_info dt{
	 margin: 0 0 10px 10px;
 }
.mod_help_info p {
	line-height: 22px;
	padding: 0 20px;
}
.mod_copyright {
	text-align: center;
}
.mod_copyright_link {
	margin: 20px 0 15px 0;
}

.main {
    width: 980px;
    height: 455px;
    margin: 10px 0 0 219px;
}

.focus {
    position: relative;
    float: left;
    width: 721px;
    height: 100%;
    /* overflow: hidden; */
    /* background-color: purple; */
}

.focus-list {
    /* 为了动画效果 添加绝对定位 */
    position: absolute;
    width: 600%;
    height: 100%;
}

.focus-list li {
    float: left;
    width: 721px;
    height: 100%;
}

.focus-list li img {
    width: 100%;
    height: 100%;
}

.main_news {
    float: right;
    width: 250px;
    height: 100%;
    /* background-color: skyblue; */
    /* border: 1px solid #e4e4e4; */
}

.arrow {
    position: absolute;
    width: 25px;
    height: 35px;
    top: 50%;
    margin-top: -18px;
    text-align: center;
    line-height: 35px;
    background: rgba(0, 0, 0, .2);
    font-weight: 700;
    color: #fff;
}

.arrow:hover {
    background: rgba(0, 0, 0, .5);
    color: #fff;
}

.arrow_left {
    display: none;
    left: 0;
    border-radius: 0 17px 17px 0;
    z-index: 2;
    /* border-top-right-radius: 17px;
    border-bottom-right-radius: 17px; */
}

.arrow_right {
    display: none;
    right: 0;
    border-radius: 17px 0 0 17px;
    z-index: 2;
}

.circle {
    height: 10px;
}

.circle {
    position: absolute;
    left: 30px;
    bottom: 20px;
}

.circle li {
    float: left;
    width: 8px;
    height: 8px;
    margin-left: 5px;
    border-radius: 50%;
    /* border: 2px solid rgba(255, 255, 255, .2); */
    border: 2px solid transparent;
    background: rgba(255, 255, 255, .2);
    cursor: pointer;
}

.circle .current_circle {
    background-color: #fff;
}

.news {
    height: 163px;
    border: 1px solid #e4e4e4;
    /* border-bottom: 1px solid #e4e4e4; */
}

.new_header {
    height: 32px;
    line-height: 32px;
    border-bottom: 1px dotted #ccc;
    font-size: 14px;
    color: #333;
    padding: 0 15px 0 15px;
}

.new_header h5 {
    float: left;
}

.new_header span {
    float: right;
}

.new_header .iconfont {
    margin-left: 10px;
    font-size: 12px;
}

.new_body ul {
    margin: 12px 0 0 12px;
}

.new_body li {
    height: 24px;
}

.life_servise {
    height: 208px;
    text-align: center;
    /* background-color: skyblue; */
    /* 超过盒子的内容隐藏 */
    overflow: hidden;
    border-right: 1px solid #e4e4e4;
    border-left: 1px solid #e4e4e4;
}

.bargain {
    height: 75px;
    margin-top: 7px;
    /* background-color: black; */
}

.life_servise ul {
    width: 252px;
}

.life_servise li {
    float: left;
    width: 62px;
    height: 68px;
    border-right: 1px solid #e4e4e4;
    border-bottom: 1px solid #e4e4e4;
}

.life_servise a {
    display: block;
    /* 解决外边距合并 a标签掉下来的问题 */
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.life_servise i {
    display: block;
    height: 24px;
    width: 24px;
    margin: 12px auto;
    background: url(../img/icons.png) no-repeat;
}

.life_servise .life_servise_huafei {
    background-position: -18px -16px;
}

.life_servise .life_servise_jipiao {
    background-position: -79px -16px;
}

.recommond {
    height: 163px;
    margin-top: 10px;
    /* background-color: pink; */
}

.common_hd {
    float: left;
    width: 200px;
    height: 100%;
    text-align: center;
    font-size: 18px;
    background-color: #5c5251;
}

.common_hd img {
    margin-top: 20px;
}

.common_hd h3 {
    margin-top: 5px;
    font-weight: 400;
    color: #ffffff;
}

.common_bd {
    float: right;
    width: 1000px;
    height: 100%;
    background-color: #ebebeb;
}

.common_bd li {
    float: left;
    margin-top: 10px;
    width: 249px;
    height: 144px;
    border-right: 1px solid #dddddd;
}

.common_bd .left {
    border-right: 0;
}


/* 楼层区 start */

.box-hd {
    height: 30px;
    margin-top: 20px;
    line-height: 30px;
    background-color: pink;
    border-bottom: 2px solid #c81623;
}

.box-hd h3 {
    font-size: 18px;
    font-weight: 400;
    color: #c81623;
}

.tab-list li {
    float: left;
    margin: 0 10px;
    /* line-height: 30px; */
}

.box-bd {
    height: 360px;
    background-color: purple;
}

.tab-con li {
    float: left;
    height: 360px;
}

.w209 {
    width: 209px;
}

.w329 {
    width: 329px;
}

.w219 {
    width: 219px;
    border-right: 1px solid #ededed;
}

.w220 {
    width: 220px;
    border-right: 1px solid #ededed;
}


/* 楼层区 end */
/*清除元素默认的内外边距  */
* {
    margin: 0;
    padding: 0
}
/*让所有斜体 不倾斜*/
em,
i {
    font-style: normal;
}
/*去掉列表前面的小点*/
li {
    list-style: none;
}
/*图片没有边框   去掉图片底侧的空白缝隙*/
img {
    border: 0;  /*ie6*/
    vertical-align: middle;
}
/*让button 按钮 变成小手*/
button {
    cursor: pointer;
}
/*取消链接的下划线*/
a {
    color: #666;
    text-decoration: none;
}

a:hover {
    color: #e33333;
}

button,
input {
    font-family: 'Microsoft YaHei', 'Heiti SC', tahoma, arial, 'Hiragino Sans GB', \\5B8B\4F53, sans-serif;
    outline: none;
}

body {
    background-color: #fff;
    font: 12px/1.5 'Microsoft YaHei', 'Heiti SC', tahoma, arial, 'Hiragino Sans GB', \\5B8B\4F53, sans-serif;
    color: #666
}

.hide,
.none {
    display: none;
}
/*清除浮动*/
.clearfix:after {
    visibility: hidden;
    clear: both;
    display: block;
    content: ".";
    height: 0
}

.clearfix {
    *zoom: 1
}


/*公共样式*/
.fl {
	float: left;
}
.fr {
	float: right;
}
/*版心*/
.w {
	width: 1200px;
	margin: 0 auto;
}
.style-red {
	color: #e33333;
}
/* shortcut start */
.shortcut {
	height: 31px;
	line-height: 31px;
	background-color: #f1f1f1;
}
.shortcut li {
	float: left;
}

.shortcut .spacer {
	width: 1px;
	height: 12px;
	margin: 9px 12px 0;
	background-color: #666;
}

@font-face {
	font-family: 'iconfont';
	src: url('../fonts/iconfont.eot');
	src: url('../fonts/iconfont.eot?#iefix') format('embedded-opentype'),
		url('../fonts/iconfont.woff2') format('woff2'),
		url('../fonts/iconfont.woff') format('woff'),
		url('../fonts/iconfont.ttf') format('truetype'),
		url('../fonts/iconfont.svg#iconfont') format('svg');
  }
  .iconfont {
	font-family: "iconfont" !important;
	/* font-size: 16px; */
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
  }
  .shortcut .iconfont {
	  font-size: 12px;
  }
/* shortcut end */
/* header start */
.header {
	position: relative;
	height: 106px;
	/* background-color: pink; */
}
.header .logo a {
	display: block;
	position: absolute;
	top: 50%;
	left: 0;
	width: 172px;
	height: 55px;
	margin-top: -27px;
	background: url(../img/logo_03.png);
	/* logo h1标签中的a标签中需要写重要信息 但是让其不显示 下面两种方式 */
	/* font-size: 0; */
	text-indent: -999px;
	overflow: hidden;
}
.serach {
	position: absolute;
	top: 26px;
	left: 348px;
}
.serach .input {
	width: 442px;
	height: 32px;
	padding-left: 10px;
	border: 2px solid #b1191a;
	font-size: 14px;
	color: #666666;
}
.serach button {
	width: 82px;
	height: 36px;
	border: 0;
	background-color: #b1191a;
	font-size: 16px;
	color: #ffffff;
}
.hotwords {
	position: absolute;
	top: 68px;
	left: 348px;
}
.hotwords a {
	margin: 0 10px;
}
.my-car {
	position: absolute;
	top: 26px;
	right: 64px;
	width: 138px;
	height: 34px;
	line-height: 34px;
	text-align: center;
	border: 2px solid #dfdfdf;
	background-color: #f7f7f7;
}
.my-car .shop-car {
	font-size: 18px;
	color: #d94f4f
}
.my-car a {
	font-size: 12px;
	color: #000;
}
.my-car .arrow {
	font-size: 12px;
	color: #cbcbcb;
}
.my-car .count {
	position: absolute;
	top: -8px;
	left: 100px;
	height: 14px;
	line-height: 14px;
	background-color: #e60012;
	font-size: 12px;
	color: #fefefe;
	border-radius: 7px 7px 7px 0;
}
/* header end */
/* nav  start */
.nav {
	height: 45px;
	border-bottom: 2px solid #b1191a;
}
.nav .dropdown {
	position: relative;
	width: 209px;
	height: 45px;
	background-color: #b1191a;
}
.dropdown .dt {
	width: 100%;
	height: 100%;
	line-height: 45px;
	text-align: center;
	font-size: 16px;
	color: #fff;
}
.dropdown .dd {
	position: absolute;
	top: 47px;;
	width: 100%;
	background-color: #c81623;
	color: #fff;
	
}
.menu_item {
	padding: 0 10px;;
	height: 31px;
	line-height: 31px;
}
.menu_item a {
	font-size: 14px;
	color: #fff;
}
.menu_item i {
	float: right;
	color: #fff;
}
.menu_item:hover {
	border-left: 1px solid #c81623;
	background-color: #f7f7f7;
	color: #c81623;
}
.menu_item:hover a {
	font-size: 14px;
	color: #c81623;
}
.nav-items {
	height: 45px;
	padding-left: 10px;
	line-height: 45px;
}
.nav-items li {
	float: left;
}
.nav-items a {
	display: block;
	height: 100%;
	margin: 0 30px;
	font-size: 16px;
	color: #333333;
}
/* nav end */
/* footer start */
.footer {
	height: 388px;
	margin-top: 300px;
	padding-top: 30px;
	background-color: #f5f5f5;
}
.mod_server {
	height: 110px;
	border-bottom: 1px solid #ededed;
}
.mod_server li {
	float: left;
	width: 240px;
	height: 79px;
}
.mod_server_item {
	float: left;
	width: 50px;
	height: 50px;
	margin: 0 5px 0 35px;
	background: url(../img/icons.png) no-repeat -253px -3px;
}
.mod_server_title {
	float: left;
	margin: 5px 0;
}
.mod_server_title h5 {
	font-size: 14px;
	color: #333;
 }
 .mod_server_title p {
	 line-height: 20px;
	 font-size: 12px;
	 color: #666;
 }
.mod_help {
	height: 188px;
	border-bottom: 1px solid #ededed;
}
.mod_help dl {
	 float: left;
	 width: 170px;
	 /* height: 168px; */
	 margin: 20px 0 0 30px;
	 
 }
 .mod_help dl dt {
	 height: 30px;
	 font-size: 16px;
	 color: #333;
 }
 .mod_help dl dd {
	 height: 20px;
	 font-size: 12px;
	 color: #666;
 }
 .mod_help_info dt{
	 margin: 0 0 10px 10px;
 }
.mod_help_info p {
	line-height: 22px;
	padding: 0 20px;
}
.mod_copyright {
	text-align: center;
}
.mod_copyright_link {
	margin: 20px 0 15px 0;
}

.main {
    width: 980px;
    height: 455px;
    margin: 10px 0 0 219px;
}

.focus {
    position: relative;
    float: left;
    width: 721px;
    height: 100%;
    /* overflow: hidden; */
    /* background-color: purple; */
}

.focus-list {
    /* 为了动画效果 添加绝对定位 */
    position: absolute;
    width: 600%;
    height: 100%;
}

.focus-list li {
    float: left;
    width: 721px;
    height: 100%;
}

.focus-list li img {
    width: 100%;
    height: 100%;
}

.main_news {
    float: right;
    width: 250px;
    height: 100%;
    /* background-color: skyblue; */
    /* border: 1px solid #e4e4e4; */
}

.arrow {
    position: absolute;
    width: 25px;
    height: 35px;
    top: 50%;
    margin-top: -18px;
    text-align: center;
    line-height: 35px;
    background: rgba(0, 0, 0, .2);
    font-weight: 700;
    color: #fff;
}

.arrow:hover {
    background: rgba(0, 0, 0, .5);
    color: #fff;
}

.arrow_left {
    display: none;
    left: 0;
    border-radius: 0 17px 17px 0;
    z-index: 2;
    /* border-top-right-radius: 17px;
    border-bottom-right-radius: 17px; */
}

.arrow_right {
    display: none;
    right: 0;
    border-radius: 17px 0 0 17px;
    z-index: 2;
}

.circle {
    height: 10px;
}

.circle {
    position: absolute;
    left: 30px;
    bottom: 20px;
}

.circle li {
    float: left;
    width: 8px;
    height: 8px;
    margin-left: 5px;
    border-radius: 50%;
    /* border: 2px solid rgba(255, 255, 255, .2); */
    border: 2px solid transparent;
    background: rgba(255, 255, 255, .2);
    cursor: pointer;
}

.circle .current_circle {
    background-color: #fff;
}

.news {
    height: 163px;
    border: 1px solid #e4e4e4;
    /* border-bottom: 1px solid #e4e4e4; */
}

.new_header {
    height: 32px;
    line-height: 32px;
    border-bottom: 1px dotted #ccc;
    font-size: 14px;
    color: #333;
    padding: 0 15px 0 15px;
}

.new_header h5 {
    float: left;
}

.new_header span {
    float: right;
}

.new_header .iconfont {
    margin-left: 10px;
    font-size: 12px;
}

.new_body ul {
    margin: 12px 0 0 12px;
}

.new_body li {
    height: 24px;
}

.life_servise {
    height: 208px;
    text-align: center;
    /* background-color: skyblue; */
    /* 超过盒子的内容隐藏 */
    overflow: hidden;
    border-right: 1px solid #e4e4e4;
    border-left: 1px solid #e4e4e4;
}

.bargain {
    height: 75px;
    margin-top: 7px;
    /* background-color: black; */
}

.life_servise ul {
    width: 252px;
}

.life_servise li {
    float: left;
    width: 62px;
    height: 68px;
    border-right: 1px solid #e4e4e4;
    border-bottom: 1px solid #e4e4e4;
}

.life_servise a {
    display: block;
    /* 解决外边距合并 a标签掉下来的问题 */
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.life_servise i {
    display: block;
    height: 24px;
    width: 24px;
    margin: 12px auto;
    background: url(../img/icons.png) no-repeat;
}

.life_servise .life_servise_huafei {
    background-position: -18px -16px;
}

.life_servise .life_servise_jipiao {
    background-position: -79px -16px;
}

.recommond {
    height: 163px;
    margin-top: 10px;
    /* background-color: pink; */
}

.common_hd {
    float: left;
    width: 200px;
    height: 100%;
    text-align: center;
    font-size: 18px;
    background-color: #5c5251;
}

.common_hd img {
    margin-top: 20px;
}

.common_hd h3 {
    margin-top: 5px;
    font-weight: 400;
    color: #ffffff;
}

.common_bd {
    float: right;
    width: 1000px;
    height: 100%;
    background-color: #ebebeb;
}

.common_bd li {
    float: left;
    margin-top: 10px;
    width: 249px;
    height: 144px;
    border-right: 1px solid #dddddd;
}

.common_bd .left {
    border-right: 0;
}


/* 楼层区 start */

.box-hd {
    height: 30px;
    margin-top: 20px;
    line-height: 30px;
    background-color: pink;
    border-bottom: 2px solid #c81623;
}

.box-hd h3 {
    font-size: 18px;
    font-weight: 400;
    color: #c81623;
}

.tab-list li {
    float: left;
    margin: 0 10px;
    /* line-height: 30px; */
}

.box-bd {
    height: 360px;
    background-color: purple;
}

.tab-con li {
    float: left;
    height: 360px;
}

.w209 {
    width: 209px;
}

.w329 {
    width: 329px;
}

.w219 {
    width: 219px;
    border-right: 1px solid #ededed;
}

.w220 {
    width: 220px;
    border-right: 1px solid #ededed;
}


/* 楼层区 end */
/*清除元素默认的内外边距  */
* {
    margin: 0;
    padding: 0
}
/*让所有斜体 不倾斜*/
em,
i {
    font-style: normal;
}
/*去掉列表前面的小点*/
li {
    list-style: none;
}
/*图片没有边框   去掉图片底侧的空白缝隙*/
img {
    border: 0;  /*ie6*/
    vertical-align: middle;
}
/*让button 按钮 变成小手*/
button {
    cursor: pointer;
}
/*取消链接的下划线*/
a {
    color: #666;
    text-decoration: none;
}

a:hover {
    color: #e33333;
}

button,
input {
    font-family: 'Microsoft YaHei', 'Heiti SC', tahoma, arial, 'Hiragino Sans GB', \\5B8B\4F53, sans-serif;
    outline: none;
}

body {
    background-color: #fff;
    font: 12px/1.5 'Microsoft YaHei', 'Heiti SC', tahoma, arial, 'Hiragino Sans GB', \\5B8B\4F53, sans-serif;
    color: #666
}

.hide,
.none {
    display: none;
}
/*清除浮动*/
.clearfix:after {
    visibility: hidden;
    clear: both;
    display: block;
    content: ".";
    height: 0
}

.clearfix {
    *zoom: 1
}


/*公共样式*/
.fl {
	float: left;
}
.fr {
	float: right;
}
/*版心*/
.w {
	width: 1200px;
	margin: 0 auto;
}
.style-red {
	color: #e33333;
}
/* shortcut start */
.shortcut {
	height: 31px;
	line-height: 31px;
	background-color: #f1f1f1;
}
.shortcut li {
	float: left;
}

.shortcut .spacer {
	width: 1px;
	height: 12px;
	margin: 9px 12px 0;
	background-color: #666;
}

@font-face {
	font-family: 'iconfont';
	src: url('../fonts/iconfont.eot');
	src: url('../fonts/iconfont.eot?#iefix') format('embedded-opentype'),
		url('../fonts/iconfont.woff2') format('woff2'),
		url('../fonts/iconfont.woff') format('woff'),
		url('../fonts/iconfont.ttf') format('truetype'),
		url('../fonts/iconfont.svg#iconfont') format('svg');
  }
  .iconfont {
	font-family: "iconfont" !important;
	/* font-size: 16px; */
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
  }
  .shortcut .iconfont {
	  font-size: 12px;
  }
/* shortcut end */
/* header start */
.header {
	position: relative;
	height: 106px;
	/* background-color: pink; */
}
.header .logo a {
	display: block;
	position: absolute;
	top: 50%;
	left: 0;
	width: 172px;
	height: 55px;
	margin-top: -27px;
	background: url(../img/logo_03.png);
	/* logo h1标签中的a标签中需要写重要信息 但是让其不显示 下面两种方式 */
	/* font-size: 0; */
	text-indent: -999px;
	overflow: hidden;
}
.serach {
	position: absolute;
	top: 26px;
	left: 348px;
}
.serach .input {
	width: 442px;
	height: 32px;
	padding-left: 10px;
	border: 2px solid #b1191a;
	font-size: 14px;
	color: #666666;
}
.serach button {
	width: 82px;
	height: 36px;
	border: 0;
	background-color: #b1191a;
	font-size: 16px;
	color: #ffffff;
}
.hotwords {
	position: absolute;
	top: 68px;
	left: 348px;
}
.hotwords a {
	margin: 0 10px;
}
.my-car {
	position: absolute;
	top: 26px;
	right: 64px;
	width: 138px;
	height: 34px;
	line-height: 34px;
	text-align: center;
	border: 2px solid #dfdfdf;
	background-color: #f7f7f7;
}
.my-car .shop-car {
	font-size: 18px;
	color: #d94f4f
}
.my-car a {
	font-size: 12px;
	color: #000;
}
.my-car .arrow {
	font-size: 12px;
	color: #cbcbcb;
}
.my-car .count {
	position: absolute;
	top: -8px;
	left: 100px;
	height: 14px;
	line-height: 14px;
	background-color: #e60012;
	font-size: 12px;
	color: #fefefe;
	border-radius: 7px 7px 7px 0;
}
/* header end */
/* nav  start */
.nav {
	height: 45px;
	border-bottom: 2px solid #b1191a;
}
.nav .dropdown {
	position: relative;
	width: 209px;
	height: 45px;
	background-color: #b1191a;
}
.dropdown .dt {
	width: 100%;
	height: 100%;
	line-height: 45px;
	text-align: center;
	font-size: 16px;
	color: #fff;
}
.dropdown .dd {
	position: absolute;
	top: 47px;;
	width: 100%;
	background-color: #c81623;
	color: #fff;
	
}
.menu_item {
	padding: 0 10px;;
	height: 31px;
	line-height: 31px;
}
.menu_item a {
	font-size: 14px;
	color: #fff;
}
.menu_item i {
	float: right;
	color: #fff;
}
.menu_item:hover {
	border-left: 1px solid #c81623;
	background-color: #f7f7f7;
	color: #c81623;
}
.menu_item:hover a {
	font-size: 14px;
	color: #c81623;
}
.nav-items {
	height: 45px;
	padding-left: 10px;
	line-height: 45px;
}
.nav-items li {
	float: left;
}
.nav-items a {
	display: block;
	height: 100%;
	margin: 0 30px;
	font-size: 16px;
	color: #333333;
}
/* nav end */
/* footer start */
.footer {
	height: 388px;
	margin-top: 300px;
	padding-top: 30px;
	background-color: #f5f5f5;
}
.mod_server {
	height: 110px;
	border-bottom: 1px solid #ededed;
}
.mod_server li {
	float: left;
	width: 240px;
	height: 79px;
}
.mod_server_item {
	float: left;
	width: 50px;
	height: 50px;
	margin: 0 5px 0 35px;
	background: url(../img/icons.png) no-repeat -253px -3px;
}
.mod_server_title {
	float: left;
	margin: 5px 0;
}
.mod_server_title h5 {
	font-size: 14px;
	color: #333;
 }
 .mod_server_title p {
	 line-height: 20px;
	 font-size: 12px;
	 color: #666;
 }
.mod_help {
	height: 188px;
	border-bottom: 1px solid #ededed;
}
.mod_help dl {
	 float: left;
	 width: 170px;
	 /* height: 168px; */
	 margin: 20px 0 0 30px;
	 
 }
 .mod_help dl dt {
	 height: 30px;
	 font-size: 16px;
	 color: #333;
 }
 .mod_help dl dd {
	 height: 20px;
	 font-size: 12px;
	 color: #666;
 }
 .mod_help_info dt{
	 margin: 0 0 10px 10px;
 }
.mod_help_info p {
	line-height: 22px;
	padding: 0 20px;
}
.mod_copyright {
	text-align: center;
}
.mod_copyright_link {
	margin: 20px 0 15px 0;
}

.main {
    width: 980px;
    height: 455px;
    margin: 10px 0 0 219px;
}

.focus {
    position: relative;
    float: left;
    width: 721px;
    height: 100%;
    /* overflow: hidden; */
    /* background-color: purple; */
}

.focus-list {
    /* 为了动画效果 添加绝对定位 */
    position: absolute;
    width: 600%;
    height: 100%;
}

.focus-list li {
    float: left;
    width: 721px;
    height: 100%;
}

.focus-list li img {
    width: 100%;
    height: 100%;
}

.main_news {
    float: right;
    width: 250px;
    height: 100%;
    /* background-color: skyblue; */
    /* border: 1px solid #e4e4e4; */
}

.arrow {
    position: absolute;
    width: 25px;
    height: 35px;
    top: 50%;
    margin-top: -18px;
    text-align: center;
    line-height: 35px;
    background: rgba(0, 0, 0, .2);
    font-weight: 700;
    color: #fff;
}

.arrow:hover {
    background: rgba(0, 0, 0, .5);
    color: #fff;
}

.arrow_left {
    display: none;
    left: 0;
    border-radius: 0 17px 17px 0;
    z-index: 2;
    /* border-top-right-radius: 17px;
    border-bottom-right-radius: 17px; */
}

.arrow_right {
    display: none;
    right: 0;
    border-radius: 17px 0 0 17px;
    z-index: 2;
}

.circle {
    height: 10px;
}

.circle {
    position: absolute;
    left: 30px;
    bottom: 20px;
}

.circle li {
    float: left;
    width: 8px;
    height: 8px;
    margin-left: 5px;
    border-radius: 50%;
    /* border: 2px solid rgba(255, 255, 255, .2); */
    border: 2px solid transparent;
    background: rgba(255, 255, 255, .2);
    cursor: pointer;
}

.circle .current_circle {
    background-color: #fff;
}

.news {
    height: 163px;
    border: 1px solid #e4e4e4;
    /* border-bottom: 1px solid #e4e4e4; */
}

.new_header {
    height: 32px;
    line-height: 32px;
    border-bottom: 1px dotted #ccc;
    font-size: 14px;
    color: #333;
    padding: 0 15px 0 15px;
}

.new_header h5 {
    float: left;
}

.new_header span {
    float: right;
}

.new_header .iconfont {
    margin-left: 10px;
    font-size: 12px;
}

.new_body ul {
    margin: 12px 0 0 12px;
}

.new_body li {
    height: 24px;
}

.life_servise {
    height: 208px;
    text-align: center;
    /* background-color: skyblue; */
    /* 超过盒子的内容隐藏 */
    overflow: hidden;
    border-right: 1px solid #e4e4e4;
    border-left: 1px solid #e4e4e4;
}

.bargain {
    height: 75px;
    margin-top: 7px;
    /* background-color: black; */
}

.life_servise ul {
    width: 252px;
}

.life_servise li {
    float: left;
    width: 62px;
    height: 68px;
    border-right: 1px solid #e4e4e4;
    border-bottom: 1px solid #e4e4e4;
}

.life_servise a {
    display: block;
    /* 解决外边距合并 a标签掉下来的问题 */
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.life_servise i {
    display: block;
    height: 24px;
    width: 24px;
    margin: 12px auto;
    background: url(../img/icons.png) no-repeat;
}

.life_servise .life_servise_huafei {
    background-position: -18px -16px;
}

.life_servise .life_servise_jipiao {
    background-position: -79px -16px;
}

.recommond {
    height: 163px;
    margin-top: 10px;
    /* background-color: pink; */
}

.common_hd {
    float: left;
    width: 200px;
    height: 100%;
    text-align: center;
    font-size: 18px;
    background-color: #5c5251;
}

.common_hd img {
    margin-top: 20px;
}

.common_hd h3 {
    margin-top: 5px;
    font-weight: 400;
    color: #ffffff;
}

.common_bd {
    float: right;
    width: 1000px;
    height: 100%;
    background-color: #ebebeb;
}

.common_bd li {
    float: left;
    margin-top: 10px;
    width: 249px;
    height: 144px;
    border-right: 1px solid #dddddd;
}

.common_bd .left {
    border-right: 0;
}


/* 楼层区 start */

.box-hd {
    height: 30px;
    margin-top: 20px;
    line-height: 30px;
    background-color: pink;
    border-bottom: 2px solid #c81623;
}

.box-hd h3 {
    font-size: 18px;
    font-weight: 400;
    color: #c81623;
}

.tab-list li {
    float: left;
    margin: 0 10px;
    /* line-height: 30px; */
}

.box-bd {
    height: 360px;
    background-color: purple;
}

.tab-con li {
    float: left;
    height: 360px;
}

.w209 {
    width: 209px;
}

.w329 {
    width: 329px;
}

.w219 {
    width: 219px;
    border-right: 1px solid #ededed;
}

.w220 {
    width: 220px;
    border-right: 1px solid #ededed;
}


/* 楼层区 end */