body {
    margin: 0 auto;
    min-width: 320px;
    max-width: 1080px;
    background-color: #f6f6f6;
    font-family: -apple-system,Helvetica,sans-serif;
    font-size: 14px;
    line-height: 1.5;
    color: #666;
}
header ul {
    height: 45px;
}
header ul li {
    float: left;
    height: 100%;
    line-height: 45px;
    text-align: center;
    background-color:#333333;
}
header ul li:nth-child(1) {
    width: 8%;
}
header .img_return {
    width: 10px;
}
header ul li:nth-child(2) {
    width: 10%;
    /* background-color: pink; */
}
header .img_jd_logo {
    width: 30px;
    /* TODO 图片的对齐方式默认是和文字的基线对齐 当图片和文字大小差别较大时 在同一行显示没有对齐 */
    vertical-align: middle;
}
header ul li:nth-child(3) {
    width: 57%;
    /* background-color: purple; */
}
header ul li:nth-child(4) {
    width: 25%;
    background-color: #F63515;

}
/* 京东头部 start */
.jd-header {
    position: relative;
    height: 44px;
    /* 解决子元素因为margin导致的外边距合并 父盒子也向下走的情况 */
    overflow: hidden;
}
.jd-header div[class^="arrow"] {
    position: absolute;
    width: 40px;
    height: 100%;
    background-color: purple;
}
.jd-header div:first-child {
    top: 0;
    left: 0;
}
.jd-header div:last-child {
    top: 0;
    right: 0;
}
.jd-header .search {
    height: 30px;
    margin: 7px 50px;
    border-radius: 15px;
    background-color: purple;
}